.form-label {
    font-weight: bold;
    float: left;
}

.btn-add, .btn-update {
    margin-top: 10px;
}

.row.manage-menu-row {
    padding: 10px 20px;
}

.restaurant-create-review-textarea{
    margin: 10px 0px;
}